# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\MaxVL68\Google Drive\JAVA_2020-1_2\TUTORIAL\Samples\rf\rf005\registration_form\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
